
html{
  scroll-behavior:smooth;
  font-family: Arial, Helvetica, sans-serif;
 
}
body{
margin:0;
padding:0;
width:100vw;
height:100vh;
display: flex;
align-items: center;
flex-direction: column;
/* background-color:rgb(162, 163, 162); */
background-image: url("https://img2.wallspic.com/previews/7/8/4/9/19487/19487-teclado_numrico-x750.jpg");
background-position:boottom;
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
overflow-x: visible;
}

/*This part is the nav.....................*/
#btn_menu{

display: none;
color:#fff;
font-size: 48px;

}
.icons{
  width: 10%;
  height: 5%;
  position:fixed;
  top:20%;
  left:0;
  z-index: 200;


}
#icon_conte{
  margin-top: 10px;
   height: 100%;
   width: 10%;
  

}
#icon_conte:hover{

  filter: drop-shadow(1px 1px 1px rgb(166, 166, 166));
  cursor:pointer;
  

}
#icon_conte img{
  width: 30px;
  height: 30px;
  filter:invert(100%);

}
.nav{

visibility:visible;
opacity: 1;


}

.nav_mobile{

  display: flex;
 
  visibility:hidden;
  opacity: 0;
  
  transition:visibility 0.3s linear,opacity 0.3s linear;
  
}
.nav_mobile ul {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  
  border-right:1px solid #fff;
  list-style: none;
  overflow: hidden; 
 
backdrop-filter: blur(20px);

}
.nav_mobile ul li {
  font-size: 20px;
}
.nav_mobile ul li a {
  display: block; 
  padding: 10px;
  color: #fff;
  text-decoration: none;
  
}
.nav_mobile ul li:hover {
  /* background: rgba(227, 229, 227, 0.616); */
  border-bottom: 2px solid #0ff;
 
}




.cont_nav{
    display: block;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 10%;
    position:fixed;
    z-index: 101;
}
  .nav ul {
    display: flex;
    list-style: none;
    overflow: hidden; 

  }
  .nav ul li {
    font-size: 20px;
  }
  .nav ul li a {
    display: block; 
    padding: 10px;
    color: #fff;
    text-decoration: none;
    
  }
  .nav ul li:hover {
    /* background: rgba(227, 229, 227, 0.616); */
    border-bottom: 3px solid #0ff;
   
  }


/*........................................*/

/*This is the presentation*/

#foto_perfil{
  height: 500px;
  width: 500px;
  flex: none;
   filter:saturate(1);
   filter:contrast(1.5);
  

}
.title_p{
  margin-top:4%;
  text-align :center;

}
.big_conteinner_pres{

  margin-top: 10%;
  display:flex;
  justify-content: center;
 
  height: 70%;
  width: 100%;
  border:1px solid #000;
  background: #02020273;
  backdrop-filter: blur(10px);
  flex:none;
}
.cont_presentacion{
    color:#BBBABA;
    display:flex;
    flex-direction:column;
    align-self:center;
    width: 60%;
    margin-left:3%;
    /*Esta parte sirve para evitar que el texto se desboorde*/
    height: 50%;
    
    word-break: break-all;
}
.pres_conte{
  display:flex;
  align-items: center;
  justify-content: center;
    flex-direction:column;
    align-self:center;
    width: 80%;
    margin-left:3%;



}
.cont_presentacion p{

font-size: medium;
font-weight: bold;
margin-top: 0;
margin-bottom:0;


}
.profile{


  display: flex;
  align-items: center;

 /* filter: drop-shadow(10px 10px 10px rgb(240, 240, 240)); */
 flex:none;
}

.cont_Presentacion h1{

  font-style:oblique


}
.btn_cv{

  width: 60%;
  height:auto;
  background-color: #0ff;
  color:#fff;
  font-size: large;
  font-weight:600;
  align-self:center;
  border: none;
  border-radius: 10px;
  transition:box-shadow 0.3s;
  padding: 10px 10px;
  text-decoration: none;
  text-align:center;

}
.btn_cv:hover{
  cursor:pointer;
  box-shadow:3px 3px 6px rgb(246, 251, 251);
}

/*........................................*/
.title_projects{

flex:none;
text-align:center;
text-justify: center;
height: 100px;
width: 200px;
color:#eae9e9;
z-index: 200;
font-size: xx-large;



}
.big_conteinner{
  font-size:10%;
  display: flex;
  position:relative;
  justify-content:center;
  width: 100%;
  height:80%;
  flex-wrap:wrap;
  border:1px solid #000;
}

.big_conteinner h2{


  font-size:large;
}
.projects{
  color:#fff;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:250px;
  background: rgba(0,0,0,0.7);
  height:250px;
  overflow-y: hidden;
  overflow-x: hidden;
  transition:top 0.5s,left 0.5s,height 0.5s,width 0.5s;
  border-radius:20px; 
  margin-left:20px;
  border:1px solid #fff;
  flex:none;
}
#fantasma{

border:1px solid #000;
display: none;
visibility: hidden;
width:250px;
height:250px;
margin-left:20px;
flex:none;
}
.description{
width:100%;
}
.carrussel{
position:relative;
width:100%;
height:50%;
background-color: chocolate;
flex:none;
overflow-y:clip;
}

#sig{
  position:absolute;
  top:42%;
  left:85%;
  font-size: 34px;
  user-select: none;

}
#sig:hover{

  cursor:pointer;
  color:#a1a1a6;

}

#ver_mas{

  font-size: 40px;
  user-select: none;
}
#ver_mas:hover{
 cursor:pointer;
 color:#a1a1a6;


}

#ver_menos{

  font-size: 48px;
  user-select: none;
}
#ver_menos:hover{
 cursor:pointer;
 color:#a1a1a6;
}

.mini_carrussel{
display:flex;
width:300%;
height:100%;
transform:translateX(0%);
transition:transform 0.5s;
}


#mini_carrussel_3 {
  width:400%;
}

 

.carr_component{
width:100%;
height:100%;
border:3px solid #000;

}


.carr_component img{
width:100%;
height:100%;


}



/*this part is the aptitudes*/
.conte_degrade{
position:absolute;
display: none;
width: 100%;
height: 110%;
z-index: 90;
opacity:0;
box-shadow: 0px 0px 25px #222;
background: #02020273;
transition:opacity 0.5s;
backdrop-filter: blur(10px);
flex: none;
}
.div_mayor{
  color: #fff;
  width: 70%;
  height:70%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  border:1px solid #fff;
  flex:none;
  margin-top:5%;
  background: #02020273;
  backdrop-filter: blur(10px);
  text-align:center;


}
.tit-ap{

display: flex;
justify-content: center;
font-size:xx-large;



}

.Aptitudes{
display:flex;
height: 30%;
width: 100%;
align-items: end;
justify-content:center;
gap:2%;
flex-wrap: wrap;

}

.tec_ico{
 width: 50px;
 height: 50px;
 
 display: flex;
 align-items:center;
 justify-content:center;
 
}

.tec_ico img{
  width: 100%;
 height: 100%;
 object-fit: contain;
 

 transition: width 0.4s,height 0.4s,filter 0.4s;
}

.tec_ico img:hover{
  cursor:pointer;
}


.htmlogo:hover{

  filter:drop-shadow(5px 10px 5px rgb(255, 157, 0));
  

}


.csslogo:hover{
  filter:drop-shadow(5px 10px 5px #0ff);
}
.javascriptlogo:hover{
  filter:drop-shadow(5px 10px 5px rgb(246, 255, 0));
}
.nodejslogo:hover{

  filter:drop-shadow(5px 10px 5px rgb(4, 255, 0));
}

.reactlogo:hover{
  filter:drop-shadow(5px 10px 5px #0ff);
}



.mysqlogo:hover{

  filter:drop-shadow(5px 10px 5px #0ff);
}




.mongodblogo:hover{

  filter:drop-shadow(5px 10px 5px rgb(16, 200, 90));
  
}
.gitlogo:hover{
  filter:drop-shadow(5px 10px 5px rgb(255, 157, 0));
}
.githublogo{
filter:invert(100%)



}
.githublogo:hover{
  filter:drop-shadow(5px 10px 5px #fff);

}

.typescriptlogo:hover{
  filter:drop-shadow(5px 10px 5px rgb(0, 153, 255));
}

.jquerylogo:hover{
  filter:drop-shadow(5px 10px 5px rgb(0, 89, 255));

}

/*.......................................*/

/*footer*/

footer{
  margin-top:5%;
  position:relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 80%;
  bottom: 0;
  border:1px solid #000;
  background: #02020273;
  backdrop-filter: blur(10px);
  flex:none;
}
.contenedor{
display:flex;
justify-content: center;
align-items: center;
flex-direction:column;
color:#fff;
width:80%;
}
.contenedor h2:hover{
cursor: pointer;
}
.formu_cont{
  justify-content: center;
  width: 100%;
  height:30%;
  visibility:hidden;
  opacity:0;
  background-color: rgb(0, 0, 0,0.4);
  transition:visibility 0.3s linear,opacity 0.3s linear;
  border-radius:10px;
  backdrop-filter:blur(10px)
  
}
.formu_cont form{
  display:flex;
  flex-direction:column;
   height: 100%;
   width:100%;
   align-items:center;
} 

.inputs{
margin-top: 2%;
height:20%;
width:50%;
background-color: rgba(87, 87, 87, 0.4);
border-radius:10px;
backdrop-filter:blur(10px);

color: #fff;


}
.inputs:nth-child(3):hover{
   cursor: pointer;
   background-color: #a1a1a6;


}

#texto{

height: 70%;
resize: none;


}

@media(min-width:1024px){

.pres_conte{
  width:600px;
  height:500px;


}


}



@media(max-width:1024px){

 
  #foto_perfil{
    height: 300px;
    width: 300px;
  }
  
  
  }


  @media(min-width:1800px){


    #foto_perfil{
      height: 700px;
      width: 650px;
      margin-bottom:100px;
    }

    .pres_conte{

     width: 700px;
     height:700px;
     font-size: x-large;

    }

    .tec_ico{

      width: 10%;
      height: 30%;
     
    
    
    }

    .tec_ico img{
      width: 100%;
      height:150%;
      object-fit: contain;
      
    }

  

    .Aptitudes{
      row-gap:  40%;
      justify-content: start;

    }



  }

@media(max-width:560px){

.big_conteinner{

  overflow-y:scroll;
  flex:none;

}
.big_conteinner::-webkit-scrollbar{

  display: none;
}



}


@media(max-width:676px) {


  .big_conteinner_pres{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .cont_presentacion{

   
    margin-left: 0;
     height:auto;
     width: 100%;
     text-align: center;

  }
 
}
@media (min-width: 561px) and (max-width: 816px) and (max-height: 651px) {
  .big_conteinner {
    height: auto;
  }
}



@media(max-width:450px){
    
    .nav{


      display: none;
    }
     #btn_menu{

      display:flex;
      z-index: 300;
      position: absolute;
      top: 0;
      margin-right: 5%;
   
      
      }
      #btn_menu:hover{

         cursor:pointer;
         color: #a1a1a6;
      }


    
}



